*{
    font-family: Roboto;
}

body {
    --btn-primary: #7D7DF7;
    --border: #C0BFBF;
    --link-color: #505F98;
    --btn-primary-dark: #111b47;
    --btn-secondary: transparent;
    --tealblue: #38B6FF;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: var(--link-color);
    text-decoration: none;
    position: relative;
    text-decoration: none;
    color: #000; /* Change the color to your desired text color */
}

.navitem:hover {
    color: var(--btn-primary);
    text-decoration: none;
}

.navitem:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--btn-primary); /* Change the color to your desired underline color */
    transform-origin: bottom right;
    transition: transform 0.30s ease-out;
}

.navitem:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.pages {
    display: flex;
    justify-content: flex-start;
    /* width: 60%; */
    align-items: center;
    gap: 24px;
}

.general {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    padding: 15px;
}

.head {
    margin: 128px 0 0 48px;
    width: calc(100% - 648px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}

.title-box {
    font-size: 3em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 100px;
    
}

.title-box > .title-text {
    font-size: 50px;
    font-family: 'Roboto';
    margin: 0%;
    
}

.title-box > img {
    margin-top: -80px;
    margin-bottom: -30px;
}

.description {
    width: 80%;
    display: inline;
    font-size: 18px;
    margin-bottom: 20px;
}

.actions {
    width: 80%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.actions > a {
    padding: 8px 0;
    width: 45%;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-decoration: none;
    text-align: center;
}



.signup {
    background-color: var(--btn-primary-dark);
    color: white;
    border: none;
}   
.signup:hover{
    background-color: var(--tealblue);
    transition: all .4s ease;
}
.signin {
    background-color: var(--btn-secondary);
    color: black;
    border: 2px solid black;
}
.signin:hover{
    background-color: var(--btn-primary);
    transition: all .4s ease;
}

.splash {
    position: fixed;
    bottom: 0;
    right: 0;
    height: calc(100vh - 128px);
}

.phone {
    z-index: 10;
    position: fixed;
    bottom: 48px;
    right: 124px;
    height: calc(90vh - 128px);
}

.btn {
    text-decoration: none;
    background-color: var(--btn-primary);
    padding: 4px 12px;
    color: white !important;
}

.btn:hover{
    background-color: var(--tealblue);
    transition: all .4s ease;
}

.copy {
    position: fixed;
    bottom: 12px;
    left: 12px;
    color: grey;
}

.login_form {
    margin: 64px auto;
    width: 50vh;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.login_form > input {
    width: 100%;
    height: 64px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

.notes_main {
    display: flex;
    height: calc(100vh - 67px);
}

.sidebar {
    height: calc(100% - 48px);
    width: 20%;
    border-right: 1px solid var(--border);
    padding: 24px;
}

.sidebar > .top {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-family: 'Roboto';
    border-bottom: 1px solid var(--border);
    padding-bottom: 16px;
}

.notes {
    width: 80%;
    height: 100%;
    /* background-image: linear-gradient(0deg, var(--border) 5%, #ffffff 5%, #ffffff 100%); */
    background-size: 28.28px 28.28px;
}

.writing {
    resize: none;
    background: transparent;
    width: 90%;
    margin: 0 0 0 10%;
    height: calc(100% - 2px);
    border: none;
    border-left: 1px solid red;
    outline: none;
    line-height: 28.28px;
    font-size: 20px;
}

.files {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    align-items: center;
    padding: 12px 0;
}

.files > button {
    width: 80%;
    font-size: 20px;
}
.files button{
        background-color: var(--btn-primary); /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
}



.pricing-body{
    overflow: hidden;
}

.background-container{
position: absolute;
left: 53.82%;
right: -40.49%;
top: 21.5%;
bottom: -19.4%;
background-image: url(./assets/splash-img.png);
mix-blend-mode: normal;
overflow: hidden;
}

.pricing-container {
    display: flex;
    flex-direction: column;
    gap: 14rem;
    height: 100vh;

    .pricing-title {
        padding: 0;
        margin: none;

        #link-logo {
            margin: 0 auto;
            position: relative;
            width: 16rem;
            height: 10rem;
            top: 0.5rem;
            left: 5rem;
        }

        #pricing-title-text {
            position: absolute;
            height: 88px;
            left: 1rem;
            right: 374px;
            top: 5rem;
            font-style: normal;
            font-weight: 600;
            font-size: 4rem;
            line-height: 4.125rem;
            text-align: center;
            letter-spacing: 1px;
            color: #091133;
        }
    }

    .tier-container {
        display: flex;
        padding: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: space-evenly;
        align-items: center;
        width: 69rem;
        height: 34rem;
        margin-left: 2rem;
        background-color: lightblue;
        border-radius: 10px;

        .basic-tier,
        .premium-tier {
            width: 29.625rem;
            height: 33.938rem;
            background-color: #ffffff;
            z-index: 20;
            border-radius: 10px;
            opacity: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 1.5rem;
            justify-content: space-evenly;
            box-shadow: 0px 4px 4px 0px #00000040;
            box-sizing: border-box; 
        }

        .tier-title {
            font-family: Roboto;
            font-size: 36px;
            font-weight: 700;
            line-height: 66px;
            letter-spacing: 1px;
            text-align: center;
            margin: 0;
        }

        .tier-point {
            display: flex;
            gap: 2rem;
            font-size: 24px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0px;
            text-align: left;
            align-items: center;
        }

        .price {
            text-align: center;
            font-size: 2rem;
            margin: 0;
            color: #7B7B7B;
        }

        .pricing-button {
            margin: auto;
            width: 23rem;
            height: 2rem;
            font-size: 24px;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: center;
            background-color: #111B47;
            border: none;
            border-radius: 5px;
            color: #ffffff;
        }
    }
}

select{
    appearance: none;
    width: 100%;
    font-size: 1rem;
    padding: 0.675em 1em 0.675em 1em;
    background-color: #fff;
    border: 1px solid var(--btn-primary);
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
}



.login-reg-body{
    background-image: url(./assets/loginBack.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

.text_input{
    border-radius: 30px;
    border: none;
    background-color: #091133;
    color: white;
}

.submit{
    border-radius: 20px;
    background-color: #505F98;
    border: none;
    color: white;
}