.title-download{
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 100px;
}
#logo-downloads{
  margin-top: -80px;
}

#heading-downloads{
  margin: 0;
  max-width: 50vw;
}

.stores-btn{
  flex-direction: column;
  justify-content: flex-start;
}

.stores-btn a{
  margin-top: 10px;
}