body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --regular-14: Roboto;
  --font-inter: Inter;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-xs: 12px;
  --medium-16-size: 16px;
  --regular-14-size: 14px;
  --font-size-13xl: 32px;
  --font-size-17xl: 36px;
  --font-size-45xl: 64px;

  /* Colors */
  --colour-secondary-white-100-general: #fff;
  --colour-main-blue-500: #505f98;
  --color-gray-100: #7b7b7b;
  --color-gray-200: #787878;
  --colour-main-blue-900: #091133;
  --colour-main-blue-800: #111b47;
  --color-mediumslateblue: #7d7df7;
  --color-black: #000;
  --color-deepskyblue: #38b6ff;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-9xl: 28px;
  --gap-11xl: 30px;

  /* Paddings */
  --padding-3xl: 22px;
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-11xs: 2px;
  --br-3xs: 10px;
  --br-8xs: 5px;
  --br-17xl: 36px;
}
