/* Customize Quill container */
#quill-editor {
    max-width: 600px;
    margin: 0 auto;
  }
  
  /* Customize Quill editor content */
  .ql-editor {
    font-size: 16px;
    line-height: 1.4;
    color: #333;
    background-color: #ebe1e1;
  }
  
  /* Customize Quill toolbar */
  .ql-toolbar {
    background-color: #38B6FF;
    border: 1px solid #ccc;
  }
  
  /* Customize Quill toolbar buttons */
  .ql-toolbar button {
    color: #333;
  }

  #startSpeechRecognition{
    width: 3rem;
    margin-left: 25px;
    height: 3rem;
    border-radius: 50%;
    background-color: azure;
  }

  #playNoteButton{
    width: 3rem;
    margin-left: 25px;
    height: 3rem;
    border-radius: 50%;
    background-color: azure;
  }
  #myIframe {
    opacity: 0;
    visibility: hidden;
    display: none; /* Start with display: none */
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out; /* Add transitions for opacity and visibility with ease-in-out timing */
}

#myIframe.visible {
    opacity: 1;
    visibility: visible;
    display: block; /* Display when visible class is applied */
    pointer-events: auto; /* Enable pointer events when visible */
}